* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(143deg, rgba(0, 0, 0, 1) 50%, rgba(184, 0, 0, 1) 100%);
  margin: 0;
  padding: 0;
}

.app-container {
    background: linear-gradient(143deg, rgba(0, 0, 0, 1) 50%, rgba(184, 0, 0, 1) 100%);
    text-align: center;
    color: white;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-buttons button {
  background: #fff;
  color: #667eea;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.hero-buttons button:hover {
  background: #f0f0f0;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.sns-icons {
  color: #ffffff;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.sns-icons a:hover {
    color: #ff0000;
}
.skills-zone {
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: left;
    display: block;
    gap: 1.5rem;
}

.skill-section {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-section h3 {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
}

.skill-section img {
    margin-bottom: 1rem;
}

.skill-section .chart-container {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.skill-section.visible .chart-container {
    opacity: 1;
    transform: translateX(0);
}

.timeline {
  position: relative;
  max-width: 600px;
  margin: 0 auto 0 0;
  padding: 20px 0;
  text-align: left;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 30px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #fff;
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 60px;
}

.timeline-marker {
  position: absolute;
  left: 20px;
  top: 0;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #000;
}

.timeline-content h3 {
  margin: 0 0 10px 0;
  color: #fff;
}

.timeline-content p {
  margin: 0;
  color: #ccc;
}